/*
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Miscelaneous (Otros)
*/

:root {
  /* Colores */
  --linear-BG: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #FFE9D4;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --off-white: #faf8f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  /* position: relative; */
  background: var(--linear-BG);
  min-width: 32rem;
}

header img {
  height: 2.4rem;
  margin-top: 3.9rem;
  margin-bottom: 2.1rem;
}
.header__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title-container h1 {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin: 1.2rem 0;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  line-height: 2.6rem;
}

.header__title-container p {
  color: var(--soft-orange);
  text-align: center;
  margin: 1.2rem 1.6rem;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  width: 22.9rem;
  background-color: white;
  text-decoration: none;
  position: absolute;
  background: #faf8f7;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  padding: 12px 16px;
  top: 27rem;
  color: var(--warm-black);
}
.header__button span {
  background-image: url("../assets/icons/dropDown.svg");
  width: 13px;
  height: 8px;
  margin-left: 1rem;
}

