/*
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Miscelaneous (Otros)
*/

:root {
  /* Colores */
  --linear-BG: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --off-white: #faf8f7;
  --p-standar: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;
  background-color: var(--off-white);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  /* position: relative; */
  background: var(--linear-BG);
  min-width: 32rem;
}

header img {
  height: 2.4rem;
  margin-top: 3.9rem;
  margin-bottom: 2.1rem;
}

li {
  list-style: none;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--p-standar);
}
.header__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title-container h1 {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin: 1.2rem 0;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  line-height: 2.6rem;
}

.header__title-container p {
  color: var(--soft-orange);
  text-align: center;
  margin: 1.2rem 1.6rem;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  top: 27.5rem;
  height: 4.8rem;
  width: 22.9rem;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  background-color: white;
  text-decoration: none;
  background: #faf8f7;
  color: var(--warm-black);
}
.header__button span {
  background-image: url("../assets/icons/dropDown.svg");
  width: 13px;
  height: 8px;
  margin-left: 1rem;
}

.BCimg {
  width: 19.5rem;
  height: 19.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  background: url("../assets/img/Bitcoin.svg");
  margin: 6rem auto 2rem auto;
}

.BCimg img {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.divH2 {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.divH2 h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
}

.info {
  margin-top: 1.2rem;
}

.info p {
  text-align: center;
  margin: 1.2rem 0;
}
.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableTitleOrange {
  width: 81px;
  height: 23px;
  left: 74px;
  top: 806px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--bitcoin-orange);
}

.currencyTableContainer {
  height: 16rem;
  width: 70%;
  min-width: 20rem;
  max-width: 30rem;
}

.currencyTableContainer table {
  width: 100%;
  border-radius: 8px;
}

.currencyTableContainer td {
  height: 3.9rem;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #b5b0ac;
  width: 50%;
  background-color: white;
  padding-left: 1.2rem;
}

.table-right {
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #757575;
}

.up {
  background: url(../assets/icons/trending-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 2rem;
}

.down {
  background: url(../assets/icons/trending-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 2rem;
}

.table-left-top {
  border-radius: 8px 0 0 0;
}
.table-right-top {
  border-radius: 0 8px 0 0;
}
.table-left-bottom {
  border-radius: 0 0 0 8px;
}
.table-right-bottom {
  border-radius: 0 0 8px 0;
}

.actualization {
  background-color: var(--soft-orange);
  height: 3.1rem;
  width: 20rem;
  padding: 0.8rem;
  border-radius: 8px;
  text-align: center;
  margin: 1.8rem auto 6.4rem auto;
}

.actualization p {
  color: var(--warm-black1);
}

.blackCards-container {
  position: relative;
  width: 100%;
  background-color: var(--warm-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.batata-icon {
  background: url("../assets/img/batata.svg");
  width: 40.57px;
  height: 24.01px;
  position: absolute;
  top: -1rem;
}

.blackCards-container h2 {
  color: white;
  text-align: center;
  width: 90%;
  margin: 6.4rem auto 2.4rem auto;
  font-size: 2.4rem;
}
.blackCards-container--title .blackCards-container--p {
  text-align: center;
  margin: 0 auto 2.4rem auto;
}
.blackCards-container p {
  width: 90%;
  margin: 0 0 2.4rem 0;
  color: #808080;
}

.black-card {
  width: 90%;
  max-width: 90rem;
  margin-top: 1.6rem;
  background-color: var(--warm-black1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 1.6rem;
}

.black-card:last-child {
  margin-bottom: 6.4rem;
}

.black-card h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: white;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.black-card p {
  margin-bottom: 0.6rem;
}

.clockIcon {
  background: url("../assets/icons/clock1.svg");
}
.eyeIcon {
  background: url("../assets/icons/eye1.svg");
}
.dolarkIcon {
  background: url("../assets/icons/dollar-sign1.svg");
}
.checkIcon {
  background: url("../assets/icons/check-circle1.svg");
}

.clockIcon,
.eyeIcon,
.dolarkIcon,
.checkIcon {
  padding: 0.1rem 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-container {
  width: 100%;
  height: 38.7rem;
  background: url("../assets/img/bitcoinbaby1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-container-title h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding-top: 6rem;
}

.pricing__info h3 {
  margin: 6.4rem 1.5rem 1.2rem 1.5rem;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: var(--warm-black);
}

.pricing__info p {
  text-align: center;
  margin: 1.2rem 1.5rem 2.5rem 1.5rem;
}

.pricing__card {
  position: relative;
  width: 190px;
  height: 247px;
  background: white;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
  margin: 2.5rem auto 6.4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__card--recommended {
  position: absolute;
  top: -1.55rem;
  padding: 0.8rem 0.8rem;
  font-family: Inter;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: white;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
}

.pricing__card--title p {
  color: black;
  margin-top: 3.1rem;
  margin-bottom: 0.8rem;
}

.pricing__card--price {
  display: flex;
  align-items: flex-start;
}

.pricing__card--price p {
  margin: 0.8rem 0 0.8rem 0;
  font-family: Inter;
  font-weight: bold;
  font-size: 52px;
  line-height: 52px;
  letter-spacing: -0.08em;
  color: black;
}

.pricing__card--price span {
  margin: 0.8rem 0 0.8rem 0;
  font-family: Inter;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #363636;
}

.pricing__card--info p {
  font-family: Inter;
  font-size: 12px;
  line-height: 15px;
  color: #757575;
}

.pricing__card--CTA {
  width: 151px;
  height: 48px;
  background: var(--off-white) 7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--warm-black);
}

.pricing__card--CTA span {
  background: url("../assets/icons/arrow-right\ 1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px 12px;
}

footer {
  background-color: var(--bitcoin-orange);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__menu ul {
  margin: 4rem 0;
}

.footer__menu ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  line-height: 2.4rem;
  color: white;
}

.footer__logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo span{
background: url("../assets/img/batata.svg");
background-size: cover;
background-repeat: no-repeat;
padding: 12px 20px;
}

.footer__logo p{
  font-size: 8px;
  line-height: 18px;
  color: var(--soft-orange);  
}