/*
1. Posicionamiento
2. Modelo caja (box model)
3. Tipografía
4. Visuales
5. Miscelaneous (Otros)
*/

:root {
  /* Colores */
  --linear-BG: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --off-white: #faf8f7;
  --p-standar: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "DM Sans", sans-serif;
  background-color: var(--off-white);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  /* position: relative; */
  background: var(--linear-BG);
  min-width: 32rem;
}

header img {
  height: 2.4rem;
  margin-top: 3.9rem;
  margin-bottom: 2.1rem;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--p-standar);
}
.header__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title-container h1 {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin: 1.2rem 0;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  line-height: 2.6rem;
}

.header__title-container p {
  color: var(--soft-orange);
  text-align: center;
  margin: 1.2rem 1.6rem;
}

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: absolute;
  top: 27.5rem;
  height: 4.8rem;
  width: 22.9rem;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  background-color: white;
  text-decoration: none;
  background: #faf8f7;
  color: var(--warm-black);
}
.header__button span {
  background-image: url("../assets/icons/dropDown.svg");
  width: 13px;
  height: 8px;
  margin-left: 1rem;
}

.firstSection {
}

.BCimg {
  width: 19.5rem;
  height: 19.5rem;
  margin-top: 6rem;
  margin-bottom: 2rem;
  background: url("../assets/img/Bitcoin.svg");
  margin: 6rem auto 2rem auto;
}

.BCimg img {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.divH2 {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.divH2 h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
}

.info {
  margin-top: 1.2rem;
}

.info p {
  text-align: center;
  margin: 1.2rem 0;
}
.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableTitleOrange {
  width: 81px;
  height: 23px;
  left: 74px;
  top: 806px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--bitcoin-orange);
}

.currencyTableContainer {
  height: 16rem;
  width: 70%;
  min-width: 20rem;
  max-width: 30rem;
}

.currencyTableContainer table {
  width: 100%;
  border-radius: 8px;
}

.currencyTableContainer td {
  height: 3.9rem;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #b5b0ac;
  width: 50%;
  background-color: white;
  padding-left: 1.2rem;
}

.table-right {
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #757575;
}

.up {
  background: url(../assets/icons/trending-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 2rem;
}

.down {
  background: url(../assets/icons/trending-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 2rem;
}

.table-left-top {
  border-radius: 8px 0 0 0;
}
.table-right-top {
  border-radius: 0 8px 0 0;
}
.table-left-bottom {
  border-radius: 0 0 0 8px;
}
.table-right-bottom {
  border-radius: 0 0 8px 0;
}

.actualization {
  background-color: var(--soft-orange);
  height: 3.1rem;
  width: 20rem;
  padding: 0.8rem;
  border-radius: 8px;
  text-align: center;
  margin: 1.8rem auto;
}

.actualization p{
  color: var(--warm-black1);
}